[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
z3-solver = "==4.8.0.0.post1"
tqdm = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"
python-language-server = "*"
mypy = "*"

[requires]
python_version = "3.7"
